body {
  background: #fafafa;
  text-align: center;
}
h1 {
  color: #07689f;
  font-family: 'Patrick Hand SC', cursive;
}
h2 {
  color: #BC592E
  font-family: 'Dawning of a New Day', cursive;
}
h3 {
  color: #a2d5f2;ff7e67
  font-family: 'Patrick Hand SC', cursive;
}
h4 {
  color: #ff7e67;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 50px;
  text-align: left;
}
p {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 30px;
}
form {
  font-family: 'Patrick Hand SC', cursive;
  display: inline-block;
  margin: auto;
  position: relative;
}
img {
  padding: 50px auto;
  margin: 50px auto;
  border-radius: 110px 5px 110px 5px;
}
#weatherToday {
  font-family: 'Patrick Hand SC', cursive;
  text-align: left;
}
#conditions {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 50px;
  text-align: center;
}
